$breadcrumb-divider: '/';
$breadcrumb-divider-color: '#7b7b82';
$breadcrumb-item-padding: '3';
$breadcrumb-active-color: '#7b7b82';

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 40px 0 70px;
  list-style: none;
  background-color: transparent;

  @include mq('large-small', 'max') {
      display: none;
  }
}

.breadcrumb-item {
    margin-right: 4px;
    font-family: Montserrat, sans-serif;

    a {
        display: inline-block;
        color: #{$breadcrumb-divider-color};
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        font-family: Montserrat, sans-serif;
    }

    + .breadcrumb-item::before {
        display: inline-block;
        padding-right: 4px;
        padding-left: 0;
        color: #{$breadcrumb-divider-color};
        content: "#{$breadcrumb-divider}";

        @include mq('large', 'max') {
            padding-right: 3px;
            padding-left: 3px;
        }

    }

    + .breadcrumb-item:hover::before {
        text-decoration: underline;
    }

    + .breadcrumb-item:hover::before {
        text-decoration: none;
    }

    &.active {
        color: #{$breadcrumb-active-color};

        &::before {
            color: #ABABAB;
        }
    }
}
