$white: #fff;
$dark: #312e50;
$base: #bf3cb0;

body {
  font-family: 'Comfortaa', cursive;
  font-style: normal;
  font-weight: normal;
  color: $dark;
  background: $white;
  display: flex;
  flex-direction: column;
  direction: ltr;
  height: auto;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  -webkit-overflow-scrolling: touch;
  font-size: 14px;
  line-height: 1.2;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  width: 100%;

  &.hidden {
    overflow: hidden;
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;

  &.hidden {
    overflow: hidden;
  }
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;

  @include mq('desktop', 'min') {

  }

  @include mq('desktop-wide', 'min') {

  }

  @include mq('desktop-wide', 'max') {

  }

}

a {
  font-weight: normal;
  color: $dark;
  display: block;
}

input[type=radio], input[type=checkbox] {
  cursor: pointer;
  line-height: 0;
  height: rem(20px);
  outline: 0;
  padding: 0!important;
  text-align: center;
  vertical-align: middle;
  width: rem(20px)!important;
  min-width: rem(20px);
  appearance: none;
  transition: .05s border-color ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  margin: 0;

  &:checked{
    border-color: $base;

    &:before{
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg width='100%' height='100%' viewBox='0 0 209 209' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M154.984 0C173.565 0 180.303 1.93151 187.097 5.55863C193.889 9.18563 199.22 14.5082 202.853 21.2902C206.487 28.0721 208.421 34.7992 208.421 53.3502V154.733C208.421 173.285 206.487 180.012 202.853 186.793C199.22 193.575 193.889 198.898 187.097 202.524C180.303 206.152 173.565 208.084 154.984 208.084H53.4368C34.8557 208.084 28.1177 206.152 21.3247 202.524C14.5316 198.898 9.20054 193.575 5.5676 186.793C1.93468 180.012 0 173.285 0 154.733V53.3502C0 34.7992 1.93468 28.0721 5.5676 21.2902C9.20054 14.5082 14.5316 9.18563 21.3247 5.55863C28.1177 1.93151 34.8557 0 53.4368 0H154.984ZM169.792 58.9748C165.759 55.0924 159.374 55.0879 155.336 58.9646L83.3685 128.051L53.0589 98.987C49.0309 95.1243 42.6691 95.1189 38.6344 98.9745L38.5579 99.0476C38.4616 99.1395 38.3672 99.2335 38.2749 99.3294C34.5649 103.18 34.6837 109.304 38.5403 113.008L76.147 149.127C80.1803 153.001 86.558 153.002 90.593 149.13L169.852 73.0769C169.941 72.9915 170.028 72.9042 170.115 72.8154C173.854 68.9432 173.741 62.7774 169.863 59.0436L169.792 58.9748Z' fill='%23BF3CB0'/%3E%3C/svg%3E%0A");
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      min-width: rem(20px);
      height: rem(20px);
      display: block;
    }
  }



}

b {
  font-weight: 700;
}

.slick-slide {
  outline: 0;
}
//.slick-dots li button:before{
//    font-size: 20px;
//    color: #DDDDDD;
//    opacity: 1;
//
//}
//.slick-dots li.slick-active button:before{
//    color: #DD6E43;
//}

.ul {
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 147px;

  li {
    position: relative;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: #5c5c5c;
    margin-bottom: 32px;
    display: flex;
    align-items: center;

    @include mq('phone-wide', 'max') {
      margin-bottom: 25px;
      padding-top: 0;
    }

    &::before {
      content: "";
      width: 34px;
      height: 34px;
      min-width: 34px;
      background-color: $white;
      border-radius: 50%;
      display: inline-block;
      margin-right: 27px;
    }
  }

  //&-count {
  //    padding-left: 0;
  //    max-width: 656px;
  //    width: 100%;
  //    counter-reset: count;
  //    list-style: inherit;
  //
  //    li {
  //        font-weight: 300;
  //        font-size: 16px;
  //        line-height: 24px;
  //        align-items: flex-start;
  //        list-style: none;
  //
  //        @include mq('largeMiddle', 'max') {
  //            //max-width: 77%;
  //        }
  //
  //        @include mq('medium-small', 'max') { //576
  //            max-width: 100%;
  //        }
  //
  //        @include mq('phone-wide', 'max') {
  //            flex-direction: column;
  //            font-size: 14px;
  //        }
  //
  //        &::before {
  //            counter-increment: count;
  //            content: counter(count);
  //            width: 40px;
  //            height: 40px;
  //            min-width: 40px;
  //            margin-right: 35px;
  //            box-shadow: 0 14px 42px rgba(0, 0, 0, 0.1);
  //            font-size: 18px;
  //            line-height: 39px;
  //            letter-spacing: -0.2475px;
  //            color: #ff8149;
  //            margin-top: 10px;
  //            text-align: center;
  //
  //            @include mq('phone-wide', 'max') {
  //                margin-bottom: 25px;
  //            }
  //        }
  //    }
  //}
  //
  //}
}

// .breadcrumbs{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin-top: 15px;
//
//     a, span{
//         font-size: 16px;
//         line-height: 120%;
//         color: #9b9f9e;
//         font-weight: 700;
//
//         @media all and (max-width: $medium){
//             font-size: 12px;
//         }
//
//         @media all and (max-width: 390px){
//             font-size: 10px;
//         }
//     }
//
//     span{
//         cursor: default;
//     }
//
//     *{
//         &:not(:nth-child(1)) {
//             // margin-left: 5px;
//             padding-left: 5px;
//
//             &:before{
//                 content: ' / ';
//             }
//         }
//     }
// }



//.modal {
//  width: 100%;
//  max-width: 768px;
//  z-index: 9999;
//
//  @include mq('phone-wide', 'max') {
//    padding-left: 10px;
//    padding-right: 10px;
//  }
//}

.title {
  font-weight: bold;
  font-size: 36px;
  color: $dark;
  text-align: center;
  width: 100%;
  margin: 0 0 74px;

  @include mq('large-small', 'max') {
    font-size: 28px;
  }

  &_left{
    text-align: left;
  }

  &_alone {
    margin: 90px 0 65px;

    @include mq('large-small', 'max') {
      margin: 60px 0 30px;
    }
  }

  &_nomargin{
    margin-bottom: 20px;
  }
}

.subtitle{
  font-weight: bold;
  font-size: 24px;
  color: $dark;
  text-align: center;
  width: 100%;
  margin: 0 0 24px;

  @include mq('large-small', 'max') {
    font-size: 21px;
  }

}

.form-control {
  box-shadow: none !important;
  border: 1px solid #d6d5e3;
  background-color: transparent;
  font-weight: 300;
  font-size: 14px;
  line-height: 25px;
  color: #696969;
  height: 64px;
  outline: 0;
  border-radius: 50px;
  transition: border-color 0.15s ease-in;
  width: 100%;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  padding: 0 22px;

  //@include mq('largeMiddle', 'max') {
  //    font-size: 18px;
  //}

  // @media all and (max-width: $medium){
  //     font-size: 20px;
  // }
  &::-webkit-input-placeholder { /* Chrome */
    color: #696969;
  }

  &:-ms-input-placeholder { /* IE 10+ */
    color: #696969;
  }

  &::-moz-placeholder { /* Firefox 19+ */
    color: #696969;
    opacity: 1;
  }

  &:-moz-placeholder { /* Firefox 4 - 18 */
    color: #696969;
    opacity: 1;
  }

  &:focus,
  &:active {
    border-color: #d6d5e3;
  }

  // &--error{
  //     border-color: #F81321;
  // }
  //
  // &--success{
  //     border-color: #7ED20F;
  // }
  //
  // &__checkbox{
  //     display: flex;
  //
  //     ~ span{
  //         color: #92AAD0;
  //         display: inline-flex;
  //         align-items: center;
  //         font-size: 14px;
  //         line-height: 20px;
  //         cursor: pointer;
  //         user-select: none;
  //         position: relative;
  //         top: 2px;
  //
  //         a{
  //             color: #125CFE;
  //             margin-left: 10px;
  //             font-size: 14px;
  //             line-height: 20px;
  //
  //             &:hover{
  //                 text-decoration: underline;
  //             }
  //         }
  //     }
  // }
}

.form-textarea {
  box-shadow: none !important;
  border: 2px solid transparent;
  background-color: #fff;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  color: #64626a;
  font-family: inherit;
  padding-left: 0;
  resize: none;
  outline: 0;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 12px;
  border-radius: 0 !important;
  transition: border-color 0.15s ease-in;

  @include mq('largeMiddle', 'max') {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 0;
  }

  &::-webkit-input-placeholder { /* Chrome */
    color: #64626a;
  }

  &:-ms-input-placeholder { /* IE 10+ */
    color: #64626a;
  }

  &::-moz-placeholder { /* Firefox 19+ */
    color: #64626a;
    opacity: 1;
  }

  &:-moz-placeholder { /* Firefox 4 - 18 */
    color: #64626a;
    opacity: 1;
  }

  &:focus,
  &:active {
    //border-color: #239AD6;
  }

  //&--error{
  //    border-color: #F81321;
  //}
  //
  //&--success{
  //    border-color: #7ED20F;
  //}
}

//.pagination{
//    padding: 40px 0 184px;
//
//
//    ul{
//        display: flex;
//        justify-content: center;
//
//        li{
//            margin: 0 3px;
//
//            a{
//                background: #191919;
//                border-radius: 0;
//                width: 62px;
//                height: 62px;
//                display: flex;
//                align-items: center;
//                justify-content: center;
//                font-weight: bold;
//                font-size: 26px;
//                line-height: 1;
//                text-align: center;
//                color: #fff;
//                transition: background .15s ease-in, color .15s ease-in;
//
//               path{
//                   transition: fill .15s ease-in;
//               }
//
//                &:hover, &:active{
//                    background: #fff;
//                    color: #191919;
//
//                    path{
//                        fill: #191919
//                    }
//                }
//            }
//
//            // span{
//            //
//            //     &.active{
//            //
//            //     }
//            // }
//
//            &:not(:first-child):not(:last-child){
//
//                //a{
//                //    border: 2px solid #125CFE;
//                //}
//            }
//
//            &.active{
//
//                a{
//                    background: #fff;
//                    color: #191919;
//
//                    path{
//                        fill: #191919
//                    }
//                }
//            }
//        }
//    }
//}
//
//.toggleCheck {
//    display: none !important;
//}
//
//.toggleCheck + label .checking {
//    cursor: pointer;
//    padding-left: 0;
//    position: relative;
//    height: 20px;
//    width: 36px;
//    display: inline-block;
//}
//
//.toggleCheck + label .checking::before {
//    content: "";
//    display: inline-block;
//    position: absolute;
//    top: 0;
//    left: 0;
//    vertical-align: middle;
//    padding: 0;
//    width: 46px;
//    height: 24px;
//    border-radius: 50px;
//    border: 2px solid #fff;
//    box-shadow: 0 3px 2px -3px #cfcfcf, 0 6px 20px -10px #adadad;
//
//}
//
//.toggleCheck + label .checking::after {
//    content: "";
//    display: block;
//    position: absolute;
//    top: 0;
//    left: -2px;
//    width: 24px;
//    height: 24px;
//    border-radius: 50px;
//    background: #fff;
//    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.5), 0 3px 2px -3px #cfcfcf, 0 6px 20px -10px #adadad;
//}
//
//.toggleCheck + label .checking::before,
//.toggleCheck + label .checking::after {
//    transition: all 0.2s ease-out;
//}
//
//.toggleCheck:checked + label .checking::before {
//
//}
//
//.toggleCheck:checked + label .checking::after {
//    left: calc(100% - 14px);
//}
