$icons: (
  user: (28,28),
  vk: (19,13),
  facebook: (9,16),
  inst: (16,16),
  favorite: (23, 20),
  arrow: (27, 13),
  tel: (20, 20),
  time: (20, 20),
  map: (14, 20),
  mail: (21,14),
  vk_a: (19,13),
  facebook_a: (9,16),
  inst_a: (16,16),
  arrow_w: (16,10),
  arrow_wl: (4,9),
  arrow_wr: (4,9),
  map2: (28, 37),
  eye: (19, 11),
  love: (13, 12),
  arrow_b: (17, 11)
);

%icon {
  display: inline-block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.ico {
  @extend %icon;
}

@mixin icon($name, $width, $height) {
  .ico-#{$name} {
    min-width: #{$width}px;
    height: #{$height}px;
    width: #{$width}px;
    background-image: url("../img/icons/#{$name}.png");
  }
}

@each $icon, $size in $icons {
  @include icon($icon, nth($size, 1), nth($size, 2));
}
