$icons: (
  user: (28,28),
  vk: (19,13),
  facebook: (9,16),
  inst: (16,16),
  //favorite: (23, 20),
  arrow: (27, 13),
  tel: (20, 20),
  time: (20, 20),
  map: (14, 20),
  mail: (21,14),
  vk_a: (19,13),
  facebook_a: (9,16),
  inst_a: (16,16),
  arrow_w: (16,10),
  arrow_wl: (4,9),
  arrow_wr: (4,9),
  map2: (28, 37),
  eye: (19, 11),
  love: (13, 12),
  arrow_b: (17, 11),
  minus: (25, 25),
  plus: (25, 25),
  arrow_br: (13, 25),
  eye_2: (26, 15),
  love_2: (18, 16),
  star: (21, 20),
  star_empty: (21, 20),
);

%icon {
  display: inline-block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.ico {
  @extend %icon;
}

@mixin icon($name, $width, $height) {
  .ico-#{$name} {
    min-width: #{$width}px;
    height: #{$height}px;
    width: #{$width}px;
    background-image: url("../img/icons/#{$name}.png");
  }
}

@each $icon, $size in $icons {
  @include icon($icon, nth($size, 1), nth($size, 2));
}

.ico-favorite {
    min-width: 23px;
    height: 23px;
    width: 23px;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='100%' height='100%' viewBox='0 0 447 394' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M327.752 0C303.534 0 281.331 7.67428 261.76 22.8102C242.997 37.321 230.505 55.8033 223.15 69.2429C215.796 55.8024 203.304 37.321 184.541 22.8102C164.97 7.67428 142.767 0 118.549 0C50.9655 0 0 55.2794 0 128.585C0 207.781 63.5831 261.966 159.839 343.993C176.185 357.924 194.713 373.713 213.97 390.553C216.508 392.776 219.768 394 223.15 394C226.533 394 229.793 392.776 232.331 390.554C251.59 373.712 270.117 357.923 286.472 343.985C382.718 261.966 446.301 207.781 446.301 128.585C446.301 55.2794 395.335 0 327.752 0Z' fill='%23DDDDDD'/%3E%3C/svg%3E%0A");

    &:hover,
    &.active{
      background-image: url("data:image/svg+xml,%3Csvg width='100%' height='100%' viewBox='0 0 447 394' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M327.752 0C303.534 0 281.331 7.67428 261.76 22.8102C242.997 37.321 230.505 55.8033 223.15 69.2429C215.796 55.8024 203.304 37.321 184.541 22.8102C164.97 7.67428 142.767 0 118.549 0C50.9655 0 0 55.2794 0 128.585C0 207.781 63.5831 261.966 159.839 343.993C176.185 357.924 194.713 373.713 213.97 390.553C216.508 392.776 219.768 394 223.15 394C226.533 394 229.793 392.776 232.331 390.554C251.59 373.712 270.117 357.923 286.472 343.985C382.718 261.966 446.301 207.781 446.301 128.585C446.301 55.2794 395.335 0 327.752 0Z' fill='%23BF3CB0'/%3E%3C/svg%3E%0A");
    }
}