// suphtml, body, div, span, applet, object, iframe,
// h1, h2, h3, h4, h5, h6, p, blockquote, pre,
// a, abbr, acronym, address, big, cite, code,
// del, dfn, em, img, ins, kbd, q, s, samp,
// small, strike, strong, sub, sup, tt, var,
// b, u, i, center,
// dl, dt, dd, ol, ul, li,
// fieldset, form, label, legend,
// table, caption, tbody, tfoot, thead, tr, th, td,
// article, aside, canvas, details, embed,
// figure, figcaption, footer, header, hgroup,
// menu, nav, output, ruby, section, summary,
// time, mark, audio, video{
//     margin: 0 ;
//     padding: 0;
//     border: 0;
//     font-size: 100%;
//     font: inherit;
//     vertical-align: baseline;
// }

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
picture,
address {
  display: block;
}

body {
  line-height: 1;
}

img {
  max-width: 100%;
  height: auto;
}

ol,
ul {
  list-style: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

sup {
  vertical-align: super;
  font-size: 0.7rem;
  line-height: 1;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

select {
  background-image: url("data:image/svg+xml,%3Csvg width='201' height='174' viewBox='0 0 201 174' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M100.5 174L0.474075 0.749981L200.526 0.749999L100.5 174Z' fill='%23BF3CB0'/%3E%3C/svg%3E%0A");
  background-position: 96% center;
  background-repeat: no-repeat;
  background-size: 10px 5px;
  outline: 0;
  cursor: pointer;
  appearance: none !important;
  background-color: #fff;
  border: 1px solid #d6d5e3;
  border-radius: 10px;
  width: 100%;
  color: #64626a;
  white-space: nowrap;
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 50px;
  padding: 0 20px;
  transition: background 0.25s, color 0.25s, border 0.25s, box-shadow 0.15s;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;

  @include mq('phone-wide', 'max') {
    font-size: rem(10px);
  }

  &:focus,
  &:active:focus {
    box-shadow: 0 0 0 0.1rem rgba(#bf3cb0, .5);
  }

  &::-ms-expand {
    display: none;
  }
}
