$width_first: 360/1140 * 100%;

.catalog{
  margin-top: 90px;
  margin-bottom: 90px;

  &_page{
    margin-bottom: 90px;

    @include mq('large-small', 'max') {
      margin-bottom: 60px;
    }

  }

  &__box{
    display: grid;
    grid-template-columns: $width_first $width_first $width_first;
    grid-template-rows: 307px 307px;
    grid-template-areas:  "post-1 post-2 post-3"
                          "post-1 post-4 post-4"
                          "post-5 post-6 post-8"
                          "post-7 post-7 post-8";
    grid-column-gap: 30px;
    grid-row-gap: 30px;

    @include mq('large-small', 'max') {
      grid-template-areas:  "post-1 post-1 post-1"
      "post-2 post-2 post-2"
      "post-3 post-3 post-3"
      "post-4 post-4 post-4"
      "post-5 post-5 post-5"
      "post-6 post-6 post-6"
      "post-7 post-7 post-7"
      "post-8 post-8 post-8";
      grid-row-gap: 37px;
      grid-template-columns: auto;
    }
  }

  &__item{
    background-color: #faf6f9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(#dbdbdb, .39);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 307px;
    transition: box-shadow .15s ease-in-out;

    &:hover,
    &:active{
      box-shadow: 0 0 10px rgba(#dbdbdb, .39), 0 0 10px rgba(#dbdbdb, .39);

      span{
        color: $base;
      }
    }

    @for $i from 1 through 8 {
      &:nth-child(#{$i}){
        grid-area: post-#{$i}
      }
    }

    img {
      width: auto;
      margin: 0 auto;

      @include mq('large-small', 'max') {
        max-height: 160px;
        max-width: 200px;
      }
    }

    &-link{
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      transition: color .15s ease-in-out;

      @include mq('large-small', 'max') {
        font-weight: 400;
      }
    }

  }

}