.contact{
  margin-bottom: 90px;

  @include mq('large-small', 'max') {
    margin-bottom: 50px;
  }

  &__box{
    display: flex;
    justify-content: space-between;

    @include mq('large-small', 'max') {
      flex-direction: column;
    }

    &-info{
      width: auto;
    }

    &-map{
      width: 100%;
      max-width: 652px;

      @include mq('large-small', 'max') {
        margin-top: 35px;
      }
    }

  }

}