.item{

  &__photo{
    width: 100%;
    max-width: 652/1140 * 100%;
    flex: 0 0 652/1140 * 100%;
    display: flex;
    flex-direction: column;

    @include mq('large-small', 'max') {
      max-width: 100%;
      flex: 0 0 100%;
    }
  }

  &__photo{
    margin-bottom: 40px;

    @include mq('large-small', 'max') {

    }

    &-box{
      position: relative;
      margin-bottom: 47px;
    }

    &-slider{

      .slider-for{
        margin-bottom: 30px;

        .slick-track{
          height: 417px;
        }

      }

      .slider-nav{


        .slick-track{

        }
      }


      &-item{


        img {
          height: 417px;
          width: auto;
          margin: auto;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;

          @include mq('large-small', 'max') {
            height: 360px;
          }
        }

        &-small{
          background-color: transparent;
          padding: 10px;
          border-radius: 10px;
          border: 1px solid #e0e0e6;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100px;
          margin: 0 10px;
          position: relative;
          transition: border-color .15s ease, background-color .15s ease-in-out;
          cursor: pointer;

          &.slick-current {
            box-shadow: 0 0 16px rgba(#dbdbdb, .39);
            border-color: $white;
            background-color: $white;
            cursor: default;
          }

          img{
            width: auto;
            height: 100%;
            margin: auto;
            display: block;
            object-fit: cover;
            max-height: 80px;

          }
        }
      }

    }

    &-left,
    &-right{
      position: absolute;
      top: 0;
      bottom: 140px;
      margin: auto 0;
      display: block;

      &.slick-disabled{
        opacity: .2;
        cursor: default;
      }
    }

    &-left{
      transform: rotate(180deg);
      transform-origin: center center;
      left: 0;
    }

    &-right{
      right: 0;
    }

  }

  &__sidebar{
    width: 100%;
    max-width: 457/1140 * 100%;
    flex: 0 0 457/1140 * 100%;
    display: flex;
    flex-direction: column;

    @include mq('large-small', 'max') {
      max-width: 100%;
      flex: 0 0 100%;
    }
  }

  &__head{
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include mq('large-small', 'max') {
      flex-direction: column;
      margin-bottom: 40px;
    }
  }

  &__title{
    font-weight: bold;
    font-size: 24px;
    line-height: 140%;
    color: #696969;
    margin: 0 0 12px;

    @include mq('large-small', 'max') {
      font-size: 19px;
      margin-bottom: 27px;
    }

    &_desktop{

      @include mq('large-small', 'max') {
        display: none;
      }
    }

    &_mob{

      @include mq('large-small', 'min') {
        display: none;
      }
    }
  }


  &__text{
    font-weight: 300;
    font-size: 14px;
    line-height: 160%;
    margin-top: 0;
    margin-bottom: 10px;
  }

  &__subtitle{
    margin: 0 0 13px;
    font-weight: 500;
    font-size: 28px;
    line-height: 160%;

    @include mq('large-small', 'max') {
      font-size: 22px;
      line-height: 160%;
    }

    &-count{
      font-weight: 500;
      font-size: 15px;
      line-height: 160%;
      color: #9E9E9E;
    }
  }

  &__description{
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    margin: 0 0 50px;
  }

  &__attr{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 10px;

    @include mq('large-small', 'max') {
      padding: 0 0 30px;
    }

    &_desktop{

      @include mq('large-small', 'max') {
        display: none;
      }
    }

    &_mob{

      @include mq('large-small', 'min') {
        display: none;
      }
    }

    &-num{
      font-size: 14px;
      color: #7b7b82;
      font-family: Montserrat, sans-serif;
    }

    &-availability{
      font-size: 14px;
      height: 40px;
      border-radius: 50px;
      color: $base;
      margin-left: 30px;
      display: flex;
      align-items: center;
      border: 1px solid $base;
      padding: 0 22px;
      font-family: Montserrat, sans-serif;

      &:before{
        content: "";
        height: 7px;
        width: 7px;
        border-radius: 50%;
        display: inline-block;
        margin: auto 7px auto 0;
        background-color: $base;

      }
    }

  }

  &__dev{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    .btn{
      max-width: 215/457 * 100%;
      height: 61px;
      font-family: Montserrat, sans-serif;
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;

      @include mq('large-small', 'max') {
        height: 59px;
      }

      &-secondary{
        border-width: 2px;

      }
    }
  }

  &__price{
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    &-new{
      color: $base;
      font-size: 30px;
      font-family: 'Gotham Pro', sans-serif;
      font-weight: bold;
    }

    &-old{
      font-size: 16px;
      margin-left: 25px;
      color: #696969;
      font-family: 'Gotham Pro', sans-serif;
    }

  }

  &__stat{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom:  1px solid $base;

    &-rate{
      display: flex;
      flex-direction: column;

      &-text{
        font-size: 14px;
        font-family: Montserrat, sans-serif;
        margin-bottom: 10px;
      }

      &-lab{
        display: flex;
      }

    }

    &-counts{
      display: flex;
      align-items: flex-end;
      padding-bottom: 5px;
    }
  }


  &__social{
    display: flex;
    flex-direction: column;

    &-title{
      font-size: 16px;
      font-family: Montserrat, sans-serif;
      color: #5f6064;
      display: flex;
      font-weight: normal;
      align-items: center;
      margin-bottom: 16px;
      margin-top: 30px;
    }

    &-box{
      display: flex;
    }

    &-link{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;

    }
  }

  &__tabs{
    display: flex;
    flex-direction: column;

    &-head{
      display: flex;
      border-bottom: 2px solid $base;
      margin-bottom: 38px;

      &-link{
        flex: 1 0 auto;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #faf7f9;
        border-right: 1px solid $base;
        color: #696969;
        font-size: 14px;
        transition: background-color .15s ease-in-out, color .15s ease-in, border-color .15s ease-in;

        + .item__tabs-head-link_active {
          border-left-color:#faf7f9;
        }

        &_active{
          background-color: $white;
          border-color: #faf7f9;
          color: $base;

          + .item__tabs-head-link{
            border-left-color: #faf7f9;
          }
        }

        &:hover{
          color: $base;
        }
      }
    }

    &-item{
      display: none;

      &_active{
        display: block;
      }

      h3{
        margin: 0 0 20px;
        font-size: 18px;
        font-weight: normal;
        font-family: Montserrat, sans-serif;
      }

      p{
        margin: 0;
        font-size: 14px;
        font-family: Montserrat, sans-serif;
      }

    }

    &-content{
      display: flex;
      flex-direction: column;
    }

  }


  &__info{

    &_desktop{

      @include mq('large-small', 'max') {
        display: none;
      }
    }

    &_mob{
      margin-bottom: 46px;

      @include mq('large-small', 'min') {
        display: none;
      }
    }
  }


}