.news{

  &__box{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 30px;

    @include mq('medium-small', 'max') {
      grid-template-columns: 100%;
    }
  }

  &__item{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(#dbdbdb, .39);
    overflow: hidden;
    position: relative;

    &:hover{

      img {
        transform: scale(1.06);
      }
    }

    &-img {
      max-height: 206px;
      position: relative;
      overflow: hidden;

      img{
        transition: transform .15s ease-in-out;
        transform-origin: center center;
      }

    }

    &-date {
      font-size: 12px;
      color: #a7a7b1;
      font-family: 'Montserrat', sans-serif;
    }

    &-link{
      font-size: 16px;
      font-weight: bold;
      color: #7b7b82;
      font-family: 'Montserrat', sans-serif;
      padding: 0 18px;
      margin-top: 18px;
      margin-bottom: 10px;
      transition: color .15s ease-in-out;

      &:hover,
      &:active{
        color: #333;
      }
    }

    &-text{
      font-size: 14px;
      color: #7b7b82;
      font-family: 'Montserrat', sans-serif;
      margin: 0;
      font-weight: 400;
      padding: 0 18px;

    }

    &-bottom{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      padding: 0 18px 18px;
    }

    &-stat{
      display: flex;
      align-items: center;

      &-el{
        margin-left: 15px;
        display: flex;
        align-items: center;

        span{
          font-size: 12px;
          color: #7b7b82;
          font-family: 'Montserrat', sans-serif;
        }

        .ico{
          margin-right: 5px;
        }
      }

    }

  }


  &-item{

    &__box{
      margin-bottom: 110px;

      @include mq('large-small', 'max') {
        margin-bottom: 60px;
      }
    }

    &__head{
      margin: 100px 0 35px;
      display: flex;
      justify-content: space-between;

      @include mq('large-small', 'max') {
        margin: 60px 0 30px;
        flex-direction: column;
      }
    }

    &__content{

      p{
        font-size: 16px;
        line-height: 21px;
        color: #696969;
        font-family: 'Montserrat', sans-serif;

        @include mq('large-small', 'max') {
          font-size: 14px;
        }
      }
    }

    &__img{
      max-width: 555px;
      position: relative;
      overflow: hidden;
      border-radius: 25px;
      float: left;
      margin-right: 30px;
      margin-bottom: 15px;
      width: 100%;

      @include mq('large-small', 'max') {
        float: none;
        margin-right: 0;
      }

      &:nth-of-type(2n){
        float: right;
        margin-right: 0;
        margin-left: 30px;
        margin-bottom: 15px;

        @include mq('large-small', 'max') {
          margin-left: 0;
          float: none;
        }
      }
    }

    &__right{
      display: flex;
      align-items: center;
    }

    &__title{
      font-size: 24px;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      color: #696969;
      margin: 0;

      @include mq('large-small', 'max') {
        margin: 0 0 15px;
        font-size: 18px;
      }
    }

    &__bottom{
      padding-top: 30px;
      border-top: 1px solid $base;
      margin-top: 70px;
      display: flex;
      align-items: center;
      width: 100%;

      @include mq('large-small', 'max') {
        justify-content: space-between;
      }

      &-user{
        display: flex;
        white-space: pre-wrap;
        font-size: 16px;
        line-height: 21px;
        align-items: center;
        font-family: 'Montserrat', sans-serif;

        &-text{
          color: #696969;
        }

        &-link{
          color: $base;
          margin-left: 5px;

          &:hover,
          &:active{
            text-decoration: underline;
          }

        }

      }

      &-like{
        margin-left: 40px;
      }

    }
  }

}