.social_bl{
  z-index: 1;
  position: relative;
  display: flex;
  align-self: flex-start;
  padding-left: calc((100vw - 1140px) / 2);
}

.products {

  &__rel{
    position: relative;
  }

  &__box{
    display: flex;

    .product{
      margin-bottom: 10px;
    }

    &-left,
    &-right {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto 0;
      display: block;

      &.slick-disabled{
        opacity: .2;
        cursor: default;
      }
    }

    &-left {
      transform: rotate(180deg);
      transform-origin: center center;
      left: -20px;

      @include mq('large-small', 'max') {
        left: 5px;
      }
    }

    &-right {
      right: -20px;

      @include mq('large-small', 'max') {
        right: 5px;
      }
    }

  }

  &__social{
    display: flex;
    align-items: center;
    padding-top: 37px;
    margin-bottom: 120px;

    @include mq('large-small', 'max') {
      display: none;
    }

    .header__social-link{
      margin-right: 15px;
    }
  }

  &__link{
    max-width: 231px;
    margin: 8px auto 15px;
    font-size: 14px;

    @include mq('large-small', 'max') {
      margin: 10px auto 30px;
    }

    .ico{
      margin-left: 10px;
    }
  }

  &__nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include mq('large-small', 'max') {
      justify-content: center;
      margin-bottom: 60px;
    }

    &-count{
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      color: #898989;
      margin-right: 10px;

      span{
        color: $base;
      }

    }

    &-links{
      display: flex;

      &-el{
        width: 29px;
        height: 29px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $base;
        transition:  background-color .15s ease-in-out;

        &:hover,
        &:active{
          background-color: #83327a;
        }


      }

    }
  }
}