.header {
  background-color: #faf7f9;

  &_home{
    background-color: transparent;
  }

  &__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 0;

    @include mq('large-small', 'max') {
      justify-content: flex-start;
    }

    &-link,
    &-catalog {
      font-size: 14px;
      text-transform: uppercase;
      line-height: 25px;
      font-weight: 500;
      display: flex;
      align-items: center;
      transition: color .15s ease;
      font-family: Montserrat, sans-serif;

      @include mq('large-small', 'max') {

        &:not(.header__box-link-user){
          display: none;
        }

      }

      &:hover,
      &:active{
        color: $base;
      }

      span{
        margin-left: 20px;
        font-family: Montserrat, sans-serif;
      }

      &-user{

        @include mq('large-small', 'max') {
          margin-left: 40px;
        }

        span{

          @include mq('large-small', 'max') {
            display: none;
          }
        }
      }
    }

    &-link{

      &-for-mob{
        @include mq('large-small', 'max') {
          display: block!important;
          color: $white;
          text-align: center;
          padding: 10px 0;

          &:hover,
          &:active{
            color: $white;
          }

        }
      }
    }
  }

  &__logo{
    font-size: 30px;
    line-height: 24px;
    color: $base;
    font-family: 'Montserrat', sans-serif;

    img{
      height: 20px;
    }
  }

  &__social{
    margin-left: auto;
    display: flex;
    align-items: center;

    @include mq('large-small', 'min') {
      display: none;
    }

    &-link{
      margin-left: 15px;
    }

  }

  &__burg{
    max-width: inherit;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 5px;
    margin-left: 40px;

    @include mq('large-small', 'min') {
      display: none;
    }

    svg{
      position: relative;

      rect{
        display: block;
        transition: transform .15s ease-in;
        -webkit-perspective: 900000px;
        perspective: 900000px;
        transform: rotate(0);
      }
    }

    &.active{

      svg{

        rect{

          &:nth-child(1){
            transform: rotate(45deg) translate(0, 0);
            transform-origin: 0 0;
            width: 76px;
          }

          &:nth-child(2){
            display: none;
          }

          &:nth-child(3){
            transform: rotate(-45deg) translate(2px, 13px);
            transform-origin: 0 100%;
            width: 76px;
          }
        }
      }
    }
  }


  &__menu{
    @include mq('large-small', 'max') {
      flex-direction: column;
      display: none;
      position: absolute;
      left: 0;
      right: 0;
      top: 91px;
      bottom: 0;
      background: $base;
      z-index: 99999;
      max-height: calc(100vh - 91px);
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      flex: 1 0 auto;
      padding: 20px;

      &.active{
        display: flex;

      }
    }
  }


}
